*{
    margin: 0;
    padding: 0;
    
}

.wrap{
    width: 100%;
  }

header{
    background-image: url('https://source.unsplash.com/1600x900/?bitcoin');
    background-size: cover;
    min-height:100vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

header .title{
    position: absolute;
    top: 30%;
    left: 32%;
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #0984e3;
}

form{
    margin-top: 55px;
}

form .formIn{
    font-size: 20px;
    color: #d63031;
    font-weight: bold;
}

form ul li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 3px;
}

.btn{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn1{
    background-color: #f5f6fa; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn1:hover{
    background-color: #008CBA;
    color: white;
}

@media(max-width: 980px) {
   form{
       width: auto;
   }

   header {
       position: relative;
   }
   
   header .title{
        position: absolute;
        top: 15%;
        left: 25%;
   }

}